.watch-flexy{
    width: 100%;    
    /* background-color: red; */
    /* min-height: calc(100vh - 40px); */
    height: fit-content;
}
.watch-flexy.hidden{
    display: none;
}
.player-expanded-container{
    width: 100%;
}
.columns{
    margin-top: 26px;
    display: flex;
    gap: 24px;
    width: 100%;
    justify-content: center;
}
.columns.theatre,
.columns.fullscreen{
    margin-top: 0px;
}
.secondary{
    /* padding-left: 24px; */
    min-width: 400px;
    max-width: 400px;
    height: 150vh;
}
.secondary-inner.skeleton{
    opacity: 0;
}
.secondary.content.fullscreen,
.secondary.content.theatre{
    margin-top: 10px;
}
.secondary-in-primary{
    width: var(--width);
}

@container(max-width: 65em){
    .secondary{
        display: none
    }
    .secondary-skeleton{
        justify-content: space-between;
    }
    .secondary-skeleton-inner,
    .skeleton-inner-link{
        width: 100%;
    }
    
}