.watch-flexy{
    width: 100%;    
    /* background-color: red; */
    /* min-height: calc(100vh - 40px); */
    height: fit-content;
}
.watch-flexy.hidden{
    display: none;
}
.watch-flexy.not-found{
    display: none;
}

.player-expanded-container{
    width: 100%;
}
.columns{
    margin-top: 24px;
    display: flex;
    gap: 26px;
    width: 100%;
    justify-content: center;
}
.columns.theatre,
.columns.fullscreen{
    margin-top: 0px;
}
.secondary{
    /* padding-left: 24px; */
    min-width: 400px;
    max-width: 400px;
    height: 150vh;
}
.secondary-inner.skeleton{
    opacity: 0;
}
.secondary.content.fullscreen,
.secondary.content.theatre{
    margin-top: 10px;
}
.secondary-in-primary{
    width: var(--width);
}

.not-found{
    width: 100%;
    margin-top: 17vh;
    display: grid;
    place-content: center;
    
}

.not-found-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found-inner img{
    width: 280px;
    height: 161px;
}


.not-found-inner p{
    margin-top: 25px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.973);
}

.not-found-inner a{
    margin-top: 40px;
    border: 1px solid rgba(128, 128, 128, 0.418);
    border-radius: 20000px;
    padding: 8px 14px;
    color: rgb(91, 161, 241);
    font-weight: 500;
    font-size: 14px;
}

.not-found-inner a:hover{
    background-color: rgba(91, 161, 241, 0.151);
    border: 1px solid rgba(91, 161, 241, 0);

}

.not-found-inner a:active{
    background-color: rgba(91, 161, 241, 0.37);
    border: 1px solid rgba(91, 161, 241, 0);
}

@container(max-width: 65em){
    .secondary{
        display: none
    }
    .secondary-skeleton{
        justify-content: space-between;
    }
    .secondary-skeleton-inner,
    .skeleton-inner-link{
        width: 100%;
    }
    
}