.guide-wrapper{
    height: calc(100dvh - 0px);
    position: sticky;
    top: 0;
    z-index: 21;
    margin-top: -56px;
    min-width: fit-content;
    overflow: hidden;
    pointer-events: none;
}
.leftnav-wrapper{
    /* background-color: blue; */
   
}
.leftnav-wrapper.hide{
    transition: transform 150ms ease;
    position: fixed;
    margin-left: -240px;
}


.leftnav-header{
    height: 56px;
    width: calc(100% - 16px);
    display: flex;
    align-items: center;
    padding-left: 16px;
    visibility: hidden;
    pointer-events: none;
    background-color: rgb(19, 19, 19);

}
.leftnav-wrapper.hide .leftnav-header{
    visibility: visible;
    pointer-events: all;
    background-color: rgb(19, 19, 19);


}
.leftnav-wrapper.show + .dark-bg-closer, .leftnav-wrapper.show-not-watch + .dark-bg-closer{
   
    background-color: rgba(0, 0, 0, 0.185);
    z-index: 22;
    pointer-events: all;
}

.dark-bg-closer{
    transition: background-color 150ms ease;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0) ;
    pointer-events: none;
}
.leftnav-content{
    min-width: 225px;
    max-width: 225px;
    padding-right: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-gutter: stable;
    background-color: rgb(19, 19, 19);
    pointer-events: all;
    max-height: calc(100dvh - 56px);
}

.leftnav-content .top-row{
    height: 120vh;
}

.leftnav-content:hover{
    overflow-y: scroll;
}

.mini-leftnav{
    position: relative;
    z-index: 22;
    top: 56px;
    min-height: 60vh;
    max-height: 60vh;
    min-width: 80px;
    max-width: 80px;
    background-color: green;
    pointer-events: all;
    
}

.leftnav-wrapper.show{
    transform: translateX(240px);
    z-index: 23;
}

@media(max-width: 45em){
   
    .guide-wrapper{
        position: absolute;
    }
    .mini-leftnav{
        display: none;
    }
    .guide-wrapper > .leftnav-wrapper{
        display: block;
        position: fixed;
        margin-left: -240px;
        top: 0px;
    }
}

@media(max-width: 64em){
    .leftnav-header, .leftnav-header.hide{
        visibility: visible;
        pointer-events: all;
    }
    .guide-wrapper .leftnav-wrapper{
        display: block;
        position: fixed;
        margin-left: -240px;
        z-index: 25;
    }
    .leftnav-wrapper{
        transition: transform 150ms ease;
    }

    .leftnav-wrapper.not-watch.show-not-watch{
        transform: translateX(240px);
    }
}
