.bottom-controls-left,
.bottom-controls-right{
    display: flex;
    align-items: center;

}
.bottom-controls-right{
  gap: .2em;
}
.bottom-controls{
    position: absolute;
    left: 0;
    bottom: 0px;
    width: calc(100% - 28px);
    padding: 0px 14px;
    /* background: burlywood; */
    height: 47px;
    display: flex;
    justify-content: space-between;
    pointer-events: all;
  
  }

  .player-outer.fullscreen  .bottom-controls, .player-outer.fullscreen.theatre  .bottom-controls{
    height: 54px;
    width: calc(100% - 44px);
    padding: 0px 22px;
  }

  .player-outer.fullscreen  .SliderRoot, .player-outer.fullscreen.theatre  .SliderRoot{
     min-width: 100px;
    max-width: 100px;
    margin-top: 0px;
  }
  .player-outer.fullscreen  .SliderTrack , .player-outer.fullscreen.theatre    .SliderTrack {
    height: 5px;
  }

  .player-outer.fullscreen   form.volume-slider, .player-outer.fullscreen.theatre   form.volume-slider{
    width: 0px;
  
  }
  .player-outer.fullscreen   form.volume-slider.show, .player-outer.fullscreen.theatre   form.volume-slider.show{
    width: 103px;
  
  }

.player-outer.fullscreen  .SliderThumb, .player-outer.fullscreen.theatre  .SliderThumb{
    height: 20px;
    width: 20px;
}

  .player-button{
    box-sizing: border-box;
    height: 45px;
    width: 45px;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 0px;
    position: relative;
    z-index: 10;
    display: grid;
    place-content: center;
  
  }
  .player-outer.focus-via-keyboard .player-button:focus{
    box-shadow: 0 0 0 2px inset var(--outline-color); 
  }

  .player-button.play-pause{
    width: 45px;
    /* transform: scale(0.95); */
  }
.player-button.miniplayer svg{
  height: 40px;

}
  /* .player-button:focus{
    box-shadow: 0 0 0 2px inset var(--outline-color); 
  } */
.player-button.captions.has-captions{
  opacity: 1;
}
.player-button.captions{
  position: relative;
  opacity: .6;
}
.player-button.captions::after{
  content: '';
  position: absolute;
  bottom: 8px;
  width: calc(100% - 21px);
  border-radius: 10000px;
  background-color: red;
  transform: scaleX(0);
  transition: transform 250ms ease;
  transform-origin: center center;
  margin-left: 11px;
  height: 3px;

}
.player-outer.fullscreen .player-button.captions::after{
  height: 4px;
}
.player-button.captions.captions-on::after{
  transform: scaleX(1);
  
}
  
.player-button svg{
    fill: rgb(238, 238, 238);
    height: 45px;
    pointer-events: none;
}
.player-button.volume {
    margin-left: 6px;
}
form.volume-slider.show{
    width: 63px;
}
form.volume-slider{
    display: block;
    cursor: pointer;
    overflow: hidden;
    width: 0px;
    transition: width 100ms ease;

}

.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  min-width: 60px;
  max-width: 60px;
  height: 20px;
  height: 100%;
  margin-top: 1px;
}

.SliderTrack {
  background-color: rgba(255, 255, 255, 0.281);
  position: relative;
  flex-grow: 1;
  /* border-radius: 9999px; */
  height: 3px;
}

.SliderRange {
  position: absolute;
  background-color: white;
  border-radius: 9999px;
  height: 100%;
  pointer-events: none;
}

.SliderThumb {
  display: block;
  width: 13px;
  height: 13px;
  background-color: white;
  /* box-shadow: 0 2px 10px var(--black-a7); */
  border-radius: 10px;
  pointer-events: none;
  
}
/* .SliderThumb:hover {
  background-color: var(--violet-3);
} */
.SliderThumb:focus {
  outline: none;
  /* box-shadow: 0 0 0 5px var(--black-a8); */
}
.time-container{
  display: flex;
  align-items: center;
  font-size: 13px;
  /* margin-top: -5px; */
  gap: 5px;
  margin-left: 4px;
  color: rgba(255, 255, 255, 0.76);
  height: calc(100% - 10px);
  margin-top: 0px;


}
.player-outer.fullscreen .time-container, .player-outer.fullscreen.theatre .time-container{
  font-size: 19px;
  /* margin-top: 6px; */
}

.player-button.cog{
  position: relative;
}

.quality-badge{
  position: absolute;
  background-color: #f00;
  height: 9px;
  width: 13px;
  right: 2px;
  top: 9px;
  font-size: 6.8px;
  color: rgb(250, 250, 250);
  line-height: normal;
  letter-spacing: .8px;
  pointer-events: none;


}
.quality-badge.hide{
  opacity: 0;
}
.quality-badge svg{
  height: 100%;
  width: 100%;
}

.player-outer.fullscreen .quality-badge, .player-outer.fullscreen.theatre .quality-badge{
  height: 18px;
  width: 26px;
  right: 0px;
  top: 7px;
} 
.player-outer.fullscreen .quality-badge svg, .player-outer.fullscreen.theatre .quality-badge svg{
  height: 100%;
  width: 100%;
} 

@container(max-width: 35em){
  .bottom-controls{
    height: 40px;
  }
  .player-button.player-button.play-pause,
  .player-button{
    width: 35px;
  }
}