.masthead-outer{
    width: calc(100% - 32px);
    height: 56px;
    padding: 0px 16px;
    background-color: rgb(19, 19, 19);
    position: sticky;
    z-index: 20;
    top: 0;
    transition: transform 150ms ease;
    transform: translateY(0px);

}
.masthead-outer.fullscreen{
    transform: translateY(-56px);

}
.masthead-outer.fullscreen.visible{
    transform: translateY(0px);
}
.masthead-inner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 56px;
}

.masthead-inner .start{
    display: flex;
    align-items: center;
    height: 100%;
    width: 240px;
    gap: 10px;
}
.burger{
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}
.burger:hover{
    background-color: rgba(128, 128, 128, 0.486);
}
.burger svg{
    fill: white;
}
.start .logo{
    cursor: pointer;
    width: 100px;
    height: 56px;
    display: flex;
    align-items: center;
    
}
.start .logo svg{
    fill: white;
}