.secondary-content-inner{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;

}
.skeleton-inner-link{
    flex-grow: 1;
    width: 100%;
}
.secondary-skeleton{
    display: flex;
    width: 100%;
}
.secondary-skeleton-left{
    min-height: 94px;
    max-height: 94px;
    position: relative;
}
.skeleton-timestamp.duration-timestamp{
    right: 5px;
    bottom: 5px;
}
.secondary-skeleton-inner{
    display: flex;
    gap: 8px;
}
.secondary-skeleton-thumbnail{
    min-width: 168px;
    max-width: 168px;
    min-height: 94px;
    max-height: 94px;
    border-radius: 8px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    filter: brightness(105%);

}

.enticer-banner{
    color: rgba(187, 187, 187, 0.863);
    background-color: rgba(128, 128, 128, 0.192);
    width: fit-content;
    font-size: 12.5px;
    padding: 1px 4px;
    font-weight: 500;
    border-radius: 2px;
    margin-top: 2.5px;
}

.secondary-skeleton-views span{
    font-size: 11.5px;
}
.chapters-list{
    display: none;
    width: 100%;
    border: 1px solid rgb(65, 65, 65);
    box-sizing: border-box;
    border-radius: 12px ;
    overflow: hidden;

}
.chapters-list.show{
    display: block;
}

.chapters-header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 29, 29);
    padding: 8px;
    padding-right: 2px;
    align-items: center;
    border-radius: 12px 12px 0px 0px;
}

.chapters-header p{
    font-weight: 600;
    font-size: 19px;
    padding-left: 5px;
}
.chapters-header .x-svg{
    cursor: pointer;
    fill: white;
    padding: 8px;
    display: grid;
    place-content: center;
    border-radius: 100%;

}

.chapters-header .x-svg:hover{
    background-color: rgba(128, 128, 128, 0.445);
}

.chapters-header .x-svg:active{
    background-color: rgba(128, 128, 128, 0.644);
}

.chapters-list-interactable{
    max-height: calc(var(--height) - 56px);
    height: fit-content;
    height: -moz-fit-content;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
}

.chapter-interactable-row{
    padding: 8px 0px;

}
.chapter-interactable-row-inner{
    cursor: pointer;
    /* background-color: red; */
    padding: 0px 10px;
    padding-left: 15px;
    display: flex;
    align-items: center;

}
.chapter-interactable-row:hover,
.chapter-interactable-row.current{
    background-color: rgb(32, 32, 32);
}



.chapter-interactable-row-left{
    display: flex;
    gap: 15px;
    align-items: center;
    flex: 1;

}
.interactable-chapter-image{
    width: 100px;
    min-width: 100px;
    height: 56px;
    min-height: 56px;
    border-radius: 8px;
}

.interactable-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 13.5px;
    font-weight: 500;
    min-width: 0;


}

.interactable-info .interactable-title{
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    color: rgb(238, 238, 238);

}
.interactable-info .interactable-timestamp{
    background-color: #3ea5ff42;
    width: fit-content;
    color: #3ea6ff;
    padding: 4px 6px;
    border-radius: 2px;
    font-size: 11.5px;
}

.chapter-interactable-row-right{
    display:  flex; 
    gap: 5px;
    min-width: 70px;
    /* background-color: red; */
}

.chapter-interactable-row-right .interactable-row-icon{
    fill: rgb(216, 216, 216);
    padding: 8px;
    border-radius: 100%;
    display: grid;
    place-content: center;
}

.chapter-interactable-row-right .interactable-row-icon:hover{
    background-color: rgba(128, 128, 128, 0.514);
    
}

.interactable-row-icon.active{
    fill: #3ea6ff;
    stroke-width: 10;
}

.sync-interactables{
    /* background-color: rgba(255, 0, 0, 0.219); */
    padding: 15px;
    position: sticky;
    bottom: 0px;
}



.sync-interactables p{
    transition: transform 300ms ease;
    background-color: white;
    color: rgba(0, 0, 0, 0.884);
    font-size: 13px;
    font-weight: 500;
    padding: 9px 10px;
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    border-radius: 1000px;
    cursor: pointer;
    transform: translateY(0px);

}


.sync-interactables.show{
    animation: showSyncButton 200ms linear forwards;
}

.sync-interactables.hide{
    animation: hideSyncButton 200ms linear forwards;
}

@keyframes hideSyncButton {
    from{
        display: block;
        transform: translateY(0px);
    }
    to{
        transform: translateY(60px);
        display: none;

    }
}

@keyframes showSyncButton {
    from{
        transform: translateY(60px);
        display: block;
    }
    to{
        transform: translateY(0px);
        display: block;

    }
}

.sonner-toast.chapter-loop-on{
    border-radius: 8px;
    font-size: 14.5px;
    background-color: white;
    color: rgba(0, 0, 0, 0.788);
    display: flex;
    gap: 65px;
    padding: 15px 15px;
    align-items: center;
    font-weight: 100;
}

.sonner-toast.chapter-loop-on  button{
    background: transparent;
    border: none;
    color: #2d99f8;
    font-size: 14.6px;
    font-weight: 600;
}
