.secondary-content-inner{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;

}
.skeleton-inner-link{
    flex-grow: 1;
}
.secondary-skeleton{
    display: flex;
    width: 100%;
}
.secondary-skeleton-left{
    min-height: 94px;
    max-height: 94px;
}
.secondary-skeleton-inner{
    display: flex;
    gap: 8px;
}
.secondary-skeleton-thumbnail{
    min-width: 168px;
    max-width: 168px;
    min-height: 94px;
    max-height: 94px;
    border-radius: 8px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    filter: brightness(105%);

}

.enticer-banner{
    color: rgba(187, 187, 187, 0.863);
    background-color: rgba(128, 128, 128, 0.192);
    width: fit-content;
    font-size: 12.5px;
    padding: 1px 4px;
    font-weight: 500;
    border-radius: 2px;
    margin-top: 2.5px;
}

.secondary-skeleton-views span{
    font-size: 11.5px;
}