#root{
    position: relative;
    user-select: var(--select);
}

:root{
    --hovering:false;
    --height: 100%;
    --width: 100%;
    --hoverChapterIndex: 0;
    --currentChapterIndex:0;
    --select: '';
}
.flex-content{
    display: flex;
    width: 100%;
    position: relative;
    /* gap: 24px; */
    min-width: 0;

}

.page-manager{
    /* background-color: blue; */
    width: 100%;
}
