#root{
    position: relative;
    -webkit-user-select:var(--select);
    user-select: var(--select);
    max-height: 100vh ;
    min-height: 100vh;
    overflow-y: scroll;

}
#root.fullscreen::-webkit-scrollbar{
    display: none;
}

:root{
    --hovering:false;
    --height: 100%;
    --width: 100%;
    --hoverChapterIndex: 0;
    --currentChapterIndex:0;
    --select: '';
}
.flex-content{
    display: flex;
    width: 100%;
    position: relative;
    /* gap: 24px; */
    min-width: 0;

}
.flex-content.fullscreen{
    margin-top: -56px;
}

.page-manager{
    /* background-color: blue; */
    width: 100%;
}
