#root{
    position: relative;
    -webkit-user-select:var(--select);
    user-select: var(--select);
    max-height: 100vh ;
    min-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;


}
#root{
}



.app{
    overflow-y: scroll;
    overflow-x: hidden;
}

body{
    /* width: 100vw; */
    overflow-x: hidden;
    container-type: inline-size;
}
#root.fullscreen::-webkit-scrollbar,
.app.fullscreen::-webkit-scrollbar{
    display: none;
}
#root.fullscreen,
.app.fullscreen{
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}



:root{
    --skeletonWidth: 0px;
    --thumbnailSkeletonWidth: 0px;
    --thumbnailSkeletonHeight:0px;
    --theatreWidth: 0;
    --theatreHeight: 0;
    --hovering:false;
    --height: 100%;
    --width: 100%;
    --hoverChapterIndex: 0;
    --currentChapterIndex:0;
    --select: '';
    --mainSettingsHeight:0;
    --mainSettingsWidth:0;
    --settingsHeight: 0;
    --settingsWidth: 0;
    --settingsScrollHeight: 0;
    --settingsScrollWidth:0;
    --fullScreenHeight: 0;
    --fullScreenWidth: 0;
}
.flex-content{
    display: flex;
    width: 100%;
    position: relative;
    /* gap: 24px; */
    min-width: 0;

}
.flex-content.fullscreen{
    margin-top: -56px;
}

.page-manager{
    /* background-color: blue; */
    width: 100%;
    min-width: 0;
}
