.player-outer{
  --outline-color: rgb(47, 127, 247);
  height: var(--height);
  width: var(--width);
  max-height: var(--height);
  max-width:var(--width) ;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  outline: none;
  touch-action: none;
}
.player-if.has-content{
  height: var(--height);
  width: var(--width);
  max-width: var(--width);
  max-height: var(--height);
 
}
.player-expanded-container.has-content{
  height: var(--theatreHeight);
  width: var(--theatreWidth);
  max-width: var(--theatreWidth);
  min-height: var(--theatreHeight);
}
.player-expanded-container.has-content.fullscreen{
  height: var(--fullScreenHeight);
  width: var(--fullScreenWidth);
  max-height: var(--fullScreenHeight);
  min-height: var(--fullScreenHeight);
}
.player-outer ::cue{
  font-size: 12px;
  pointer-events: none;
}
.chapter-title-container{
  width: fit-content;
  text-align: center;
  margin: auto;
  padding: 5px;
  padding-bottom: 0px;
  font-weight: 500;
  color: white;
}
.player-outer.miniplayer, 
.player-outer.theatre.miniplayer{
  overflow: unset;

}
.player-outer.miniplayer   .bar{
  max-width: 400px;
}
.player-outer.miniplayer, 
.player-outer.theatre.miniplayer,
.html5-player.miniplayer,
.html5-player.theatre.miniplayer{
  width: 400px;
  height: 225px;
  min-height: 225px;
  border-radius: 12px 12px 0px 0px;
  background-color: black;
  pointer-events: all;
}
.player-outer.miniplayer::-webkit-scrollbar, 
.player-outer.theatre.miniplayer::-webkit-scrollbar,
.html5-player.miniplayer::-webkit-scrollbar,
.html5-player.theatre.miniplayer::-webkit-scrollbar{
  display: none;
}

.player-outer.theatre{
  width: var(--theatreWidth);
  height: var(--theatreHeight);
  min-height: var(--theatreHeight);
  max-width: var(--theatreWidth);
  max-height: var(--theatreHeight);
  border-radius: 0px;
  overflow: hidden;
}
.player-outer.fullscreen, .player-outer.fullscreen.theatre{
  width: var(--fullScreenWidth);
  height: var(--fullScreenHeight);
  max-height: var(--fullScreenHeight);
  max-width: var(--fullScreenWidth);
  min-width: var(--fullScreenWidth);
  border-radius: 0px;
}
.player-outer.fullscreen .player-inner-relative, .player-outer.fullscreen.theatre .player-inner-relative{
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.075),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.712));
  
}
.player-outer.fullscreen  .player-button, .player-outer.fullscreen.theatre  .player-button{
  width: 54px;
  height: 54px;
  margin-top: 0px;
}
.player-outer.fullscreen  .player-button svg, .player-outer.fullscreen.theatre  .player-button svg{
  height: 54px;
}

.player-outer.fullscreen  .chapters-absolute, .player-outer.fullscreen.theatre  .chapters-absolute{
  bottom: 54px;
  width: calc(100% - 20px);
  padding: 0px 10px;
}
.player-outer.fullscreen .chapter-padding, .player-outer.fullscreen.theatre .chapter-padding{
  height: 5px;
}

.player-outer.fullscreen  .red-dot, .player-outer.fullscreen.theatre  .red-dot{
  height: 20px;
  width: 20px;
}
.player-outer.fullscreen .red-dot-wrapper, .player-outer.fullscreen.theatre .red-dot-wrapper{
  left: -10px;
  top: 12px;
}
.player-outer.fullscreen .shaka-text-container, .player-outer.fullscreen.theatre .shaka-text-container{
  font-size: 28px;
}

.player-outer.fullscreen .scrubbing-preview-container, .player-outer.fullscreen.theatre .scrubbing-preview-container{
  bottom: 80px;
  font-size: 16px;
}
.player-outer.fullscreen .preview-time, .player-outer.fullscreen.theatre .preview-time{
  margin-top: 5px;
  font-size: 17px;
}
.player-outer.focus-via-keyboard.fullscreen .chapters-container.single::after, .player-outer.focus-via-keyboard.fullscreen.theatre .chapters-container.single::after{
  height: 13px;
  bottom: -4px;
}
.player-outer.focus-via-keyboard.fullscreen .chapters-container::after, .player-outer.focus-via-keyboard.fullscreen.theatre .chapters-container::after{
  height: 15px;
  bottom: -5px;
}
.html5-player{
  height: var(--height);
  width: var(--width);
  max-width: var(--width);
  max-height: var(--height);
  border-radius: 12px;
  /* overflow: hidden; */
  width: 100%;
}
#html5-player.transition{
  opacity: 0;
}
.player-expanded-container{
  background-color: black;

}
.html5-player::-webkit-media-controls {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.html5-player.theatre{
  max-height: var(--theatreHeight);
  border-radius: 0px;
  height: var(--theatreHeight);
  min-height: var(--theatreHeight);
  width: var(--theatreWidth);
  max-width: unset;
  background-color: black;
  border-radius: 0px;
}

.html5-player.fullscreen, .html5-player.fullscreen.theatre{
  width: var(--fullScreenWidth);
  height: var(--fullScreenHeight);
  max-height: var(--fullScreenHeight);
  min-height: var(--fullScreenHeight);
  max-width: var(--fullScreenWidth);
  border-radius: 0px;
  background-color: black;
}



.player-inner-absolute,
.captions-container-abolute{
 
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 0;
  pointer-events: none;
  transition: opacity 250ms ease;
}
.captions-container-abolute{
  z-index: 3;
}
.player-inner-absolute.hide{
  opacity: 0;
}
.player-inner-relative{
  opacity: 1;
  position: relative;
  width: calc(100% - 30px);
  padding: 0px 15px;
  height: 100%;
  margin: auto;
  transition: opacity 100ms ease-in-out;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.521));
}
.captions-container-relative{
  position: relative;
  height: 100%;
  width: 100%;
}
.player-inner-relative.transition{
  opacity: 0;
}
.player-inner-relative.hide{
  opacity: 0;
}
.player-inner-relative.theatre{
  bottom: 4px;
}

.chapters-absolute{
  pointer-events: all;
  position: absolute;
  bottom: 47px;
  width: 100%;
  left: 0px;
  display: flex;
  justify-content: center;
  z-index: 11;
  
}
.chapters-container{
  display: flex;
  position: relative;
  cursor: pointer;
  /* gap: 2px; */
  /* background-color: blue; */
  outline: none;
  width: calc(100% - 24px);

}

.player-outer.focus-via-keyboard .chapters-container.single::after{
  box-sizing: content-box;
  height: 9px;
  bottom: -3px;
}
.chapters-container::after{
  content:' ';
  position: absolute;
  z-index: 9;
  width: calc(100% + 2px);
  height: 13px;
  pointer-events: none;
  bottom: -5px;

}

/* .chapter-hover:hover > .chapter-padding > .bar{
  transform: scaleY(3);

}
.chapter-hover.single:hover > .chapter-padding > .bar{
  transform: scaleY(1.6);

} */
.player-outer.focus-via-keyboard .chapters-container:focus::after{
  box-shadow: 0 0 0 2px inset var(--outline-color); /* Adjust the spread-radius to 2px and remove offsets and blur */
}

.shaka-controls-container,
.shaka-scrim-container,
.shaka-hidden-fast-forward-container,
.shaka-fast-foward-container,
.shaka-client-side-ad-container.shaka-hidden,
.shaka-client-side-ad-container,
.shaka-spinner-container.shaka-hidden,
.shaka-spinner-container,
.shaka-spinner{
  display: none;
}
.shaka-text-container{
  transition: bottom 150ms ease;
  bottom: 60px;
  position: absolute;
  /* background-color: red; */
  height: 50px;
  width: 100%;
  /* z-index: 10; */
  /* margin-top: -110px; */
  padding-bottom: 30px;
  font-size: 20px;
}
.shaka-text-container > div > span{
  padding: 0px 5px;
}
.captions-container-relative.hide > .shaka-text-container{
  bottom: 0;
}
.controls-relative.theatre{
  bottom: 4px;
}

  
.chapters-container:hover .chapter-padding, .chapters-container.drag-expand .chapter-padding{
  transform: scaleY(1.6);
}

.chapters-container.drag-expand .chapter-padding.drag-expand,
.chapters-container:hover .chapter-padding.drag-expand{
  transform: scaleY(3);

}

.chapters-container.single.drag-expand .chapter-padding.drag-expand,
.chapters-container.single:hover .chapter-padding.drag-expand{
  transform: scaleY(1.6);

}

.chapters-container:hover .scrubbing{
  visibility: visible;
}

.chapter-hover{
  height: fit-content;
  /* background-color: blue; */
  padding-top: 20px;


}



.chapter-padding{
  --padding: 15px;
  --height: 10px;
  position: relative;
  pointer-events: all;
  /* padding-top: var(--padding); */
  height: 3px;
  transition: transform 150ms ease;
}

/* .chapter-hover:hover .chapter-padding.drag-expand,
.chapter-hover:hover .chapter-padding,
.chapter-hover:hover > .chapter-padding.drag-expand{
  transform: scaleY(3);
}

.chapter-hover.single:hover .chapter-padding.single, 
.chapter-hover.single:hover .chapter-padding.single.drag-expand,
.chapter-hover.single:hover > .chapter-padding.single.drag-expand:hover,
.chapter-padding.single.drag-expand{
  transform: scaleY(1.7);
} */
  
  
.bar{
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  transform-origin: 0 0;
  /* transition: height 150ms ease;  */
}


  
.progress{
  background-color: red;
  z-index: 4;
  transition: transform .1s cubic-bezier(.4,0,1,1), -webkit-transform .1s cubic-bezier(.4,0,1,1);;
  /* opacity: 0; */

}
.scrubbing{
  background-color: rgba(212, 212, 212, 0.329);
  z-index: 3;
  visibility: hidden;
  transition: transform 0ms cubic-bezier(0.075, 0.82, 0.165, 1);
 
}
.buffer{
  background-color: rgba(212, 212, 212, 0.582);
  z-index: 2;
  transition: transform 0ms cubic-bezier(0.075, 0.82, 0.165, 1);
  /* opacity: 0; */
}
.grey-bg{
  background-color: rgba(212, 212, 212, 0.178);
  z-index: 1;

  
}
.red-dot{
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: red;
  transition: scale 150ms ease;
  scale: 0;
  /* visibility: hidden; */

}

.red-dot-wrapper{
  /* visibility: hidden; */
  /* pointer-events: none; */
  position: absolute;
  top: 15px;
  left: -6.5px;
  z-index: 5;
  transition: transform 100ms cubic-bezier(0.075, 0.82, 0.165, 1) ;
}

.player-outer.seeking .bar{
  transition: transform 0s cubic-bezier(.4,0,1,1), -webkit-transform 0s cubic-bezier(.4,0,1,1);;

}

.player-outer.seeking .red-dot-wrapper{
  transition: transform 0s cubic-bezier(.4,0,1,1), -webkit-transform 0s cubic-bezier(.4,0,1,1);;
}




.lower{
  /* background-color: rgb(22, 22, 22); */
  width: var(--width);
}


  
.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader{
  pointer-events: none;
  visibility: hidden;
}
.loader.visible{
  visibility: visible;
  opacity: 1;
}
.loader svg {
  width: 6.50em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
 }
 
.loader svg circle {
  fill: none;
  stroke: hsl(0, 0%, 71%);
  stroke-width: 3;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
 }
 
 @keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }
 .scrubbing-preview-container{
  transition: opacity 100ms ease;
  height: fit-content;
  width: fit-content;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  bottom: 75px;
  left: calc(100% - 260px);
  color: white;
  font-size: 13.2px;
  font-weight: 500;
}
.scrubbing-preview-container.show{
  opacity: 1;
}

.preview-img-container{
  background-repeat: no-repeat;
  border: 2px solid white;
  border-radius: 8px;
  background-color: white;
  
}

.preview-time{
  width: fit-content;
  margin: auto;
  font-weight: 400;
}
.preview-image-bg-container{
  pointer-events: none;
  height: var(--height);
  width: var(--width);
  position: absolute;
  z-index: -10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
.preview-bg-relative{
  position: relative;
  width: 100%;
  height: 100%;

}
.preview-bg-relative.darken{
  background-color: black;
}

.preview-bg-relative.darken > .preview-image-bg{
  opacity: 0.3;
}

.player-outer.theatre .preview-image-bg-container{
  height: var(--theatreHeight);
  width: var(--theatreWidth);
}
.player-outer.fullscreen .preview-image-bg-container, .player-outer.fullscreen.theatre .preview-image-bg-container{
  height: var(--fullScreenHeight);
  width: var(--fullScreenWidth);
}
.preview-image-bg{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  pointer-events: none;
  visibility: hidden;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 300ms ease ;

}

.preview-image-bg.show{
  /* pointer-events: all; */
  visibility: visible;
}
.top-video-component.visible{
  pointer-events: all;
  opacity: 1;
}
.top-video-component{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: calc(100% - 20px);
  height: fit-content;
  padding: 10px;
  left: 0;
}
.title-card{
  font-size: 26px;
  max-width: 750px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
  color: rgba(255, 255, 255, 0.945);
  margin-left: 10px;
  margin-top: 10px;
}
 
@container(max-width: 65em){
    .player-outer.theatre, .html5-player.theatre{
        min-height: 55vh;
    }
}

@container(max-width: 35em){
  .chapters-absolute{
    bottom: 40px;
  }
  .scrubbing-preview-container{
    bottom: 55px;
  }
}

.player-inner-relative.processing{
  visibility: hidden;
  pointer-events: none;

}
.processing-banner.hide{
  display: none;
}

.processing-banner{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 19px;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  text-align: center;


}